/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/



a {
  text-decoration: none;
}

a:hover {
  color: #007bff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}



/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

.nav-item {
  padding-left: 5px;
  padding-right: 5px;
}

.nav-link {
  color: grey;
  position: relative;
}

.nav-link:hover {
  color: #007bff;
  transition: all 100ms ease-in;
}

.div {
  background-color: aqua;
}

.custom-tab.active {
  background: transparent !important;
  color: #39f;
  border-bottom: 2px solid #39f !important;
  border-radius: 0px !important;
}


/* ------------------------------------------------------------------- 
 * ## Navbar Toggle
 * ------------------------------------------------------------------- */
.mobile-nav-menu-toggle {
  display: none;
  height: 42px;
  width: 42px;
  line-height: 42px;
  font-family: "Lora", serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: rgba(0, 0, 0, 0.5);
  transition: all .3s;
  position: absolute;
  right: 32px;
  top: 18px;
}

.mobile-nav-menu-toggle:hover,
.mobile-nav-menu-toggle:focus {
  color: #000000;
}

.mobile-nav-menu-toggle span {
  display: block;
  width: 24px;
  height: 2px;
  margin-top: -1px;
  background-color: #000000;
  transition: all .5s;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  position: absolute;
  top: 50%;
  left: 9px;
  right: auto;
  bottom: auto;
}

.mobile-nav-menu-toggle span::before,
.mobile-nav-menu-toggle span::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
  transition: all .5s;
}

.mobile-nav-menu-toggle span::before {
  top: -9px;
}

.mobile-nav-menu-toggle span::after {
  bottom: -9px;
}

.mobile-nav-menu-toggle.is-clicked span {
  background-color: rgba(255, 255, 255, 0);
  transition: all .1s;
}

.mobile-nav-menu-toggle.is-clicked span::before,
.mobile-nav-menu-toggle.is-clicked span::after {
  background-color: rgb(0, 0, 0);
}

.mobile-nav-menu-toggle.is-clicked span::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.mobile-nav-menu-toggle.is-clicked span::after {
  bottom: 0;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}


/* ------------------------------------------------------------------- 
 *  Responsive Toggle Menu
 * ------------------------------------------------------------------- */

@media screen and (max-width:900px) {

  #Register,
  .navbar-nav {
    display: none !important;
  }

  .mobile-nav-menu-toggle {
    display: block;
  }

}


/* ------------------------------------------------------------------- 
 *  Responsive NavBar Menu
 * ------------------------------------------------------------------- */






/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: whitesmoke;
}

.section-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0px;
  padding-bottom: 30px;
  color: #F5F5F5;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 0;
  color: #151515;
}

.section-title p {
  margin-bottom: 0;
  color: #aeaeae;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 90px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0 4px 10px -3px hsla(0deg, 0%, 75%, 0.5);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#particles-js canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}

#particles-js {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

#home {
  padding: 200px 0;
  background-color: #111111;
  background-position: center center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;

}

#home .home-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
  z-index: 3;
}

.social::hover {
  color: rgb(213, 80, 80);
  filter: invert(100%);
  transform: none;
  transition: 1000ms;
}


.mouse {
  width: 50px;
  height: 90px;
  border: 3px solid whitesmoke;
  border-radius: 60px;
  position: relative;
}

.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: whitesmoke;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
#about {
  padding-top: 0px !important;
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  margin-bottom: 35px;
}

.about .heading {
  position: absolute;
  top: 51px;
  left: 100px;
  font-size: 45;
  font-weight: 800;
}

.about .r-dcap {
  position: relative;
  top: 30px;
  left: 50px;
  background-color: #0066FF !important;
  height: 90px;
  width: 20px;
  z-index: 1;
}

.about .abt-main-div {
  position: relative;
  left: 24px;
  top: 50px;
  background-color: #E8E8E8;
  height: 500px;
  width: 800px;
  z-index: 0;
}

.about .image {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 1);
  width: 600px;
  height: 400px;
  z-index: 3;
  top: 100px;
  left: -25px;
  position: relative;
}

.about .abt-img {
  height: 100%;
  width: 100%;
}

.about .content {
  position: relative;
  font-size: 18;
  word-spacing: 1px;
  font-family: Montserrat;
  padding: 60px 70px 0px 50px;
}

.about h4 {
  font-size: 70px;
  font-weight: 500;
  padding: 0px 50px;
}

.about .message {
  font-weight: 600;
  color: #0066FF !important;
}

.about .blink {


  display: inline-block;
  width: 3px;
  background-color: black;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    background-color: black;
  }

  25% {
    background-color: black;
  }

  50% {
    background-color: transparent;
  }

  75% {
    background-color: transparent;
  }

  100% {
    background-color: black;
  }
}


/*--------------------------------------------------------------
# Alliance
---------------------------------------------------------------*/
.alliance {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.customzoom{
  transition: all ease-in-out 0.4s;
}

.customzoom:hover {
  transform: scale(1.1);
  /* transform: translateY(-15px); */
  transition: 600ms;
}

.spacing {
  flex: 1 0 0%;
  padding: 0 1.5rem 0 1.5rem;
}

.custom-border {
  border: 1px solid white;
  border-radius: 5%;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}

.alliance-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*--------------------------------------------------------------
# alumni
--------------------------------------------------------------*/


.alumni {
  padding-bottom: 60px;
  background: url("/assets/img/alumni.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.alumni .alumni-slider {
  overflow: hidden;
}

.alumni .alumni-item {
  text-align: center;
  color: #fff;
}

.alumni .alumni-item p {
  font-style: italic;
  margin: 0 auto 30px auto;
  font-size: 20px;
}

.alumni .alumni-item .alumni-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

.alumni .alumni-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}

.alumni .alumni-item h4 {
  font-size: 14px;
  color: #ddd;
  margin: 0 0 15px 0;
}

.alumni .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.alumni .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}

.alumni .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #3298ff;
}

@media (min-width: 992px) {
  .alumni .alumni-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/

.events{
  background-color: #151515;
  color: white;
}

.events .nav-tabs {
  border: 0;
}

.events .event-year{
  background-color: white;
  border-radius: 25px;
}

.events .events-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

.events .nav {
  list-style: none;
  margin-bottom: 20px;
}

.events .nav li{
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s;
  border-radius: 50px;
  margin: 0px 10px;
  padding: 0;
}

.events .nav li h4{
  font-size: 15px;
  font-weight: 500;
  border: none;
  color: white;
  margin: 0px 10px;
  font-family: "Poppins", sans-serif;
}

.events .nav-link{
  border: none;
  border-radius: 50px;
}

.events .nav li:hover,
.events .nav li .active {
  background: #47b2e4;
}

@media (max-width: 768px) {
  .events .nav-link i {
    padding: 0;
    line-height: 1;
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .events .nav-link {
    padding: 15px;
  }

  .events .nav-link i {
    font-size: 24px;
  }
}

.events .tab-content {
  margin-top: 30px;
}

.events .event-container .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.events .event-container .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #2487ce;
}

.events .event-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2487ce;
}

/* Events End */

/*--------------------------------------------------------------
# contact us
--------------------------------------------------------------*/

.contact-icons {
  float: left;
  margin: 1.6px 5px 0px 0px;
  height: 22px;
}

#contactus-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0px;
  padding-bottom: 30px;
  color: #151515;
}

#contact {
  padding-bottom: 0%;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: sticky;
  visibility: hidden;
  opacity: 0;
  left: 95%;
  bottom: 15px;
  z-index: 996;
  background: #39f;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #39f;
  color: #39f;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}


#map {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, .2);
}

/*--------------------------------------------------------------
# CSR activities
--------------------------------------------------------------*/

.csr_activities .csr_subheading {
  text-align: center;
  position: relative;
  top: -45px;
  font-size: 20px;
  color: #A9A9A9;
}

.csr_activities .CSR_heading {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0px;
  padding-bottom: 30px;
  color: #151515;
}

.csr_activities .card_contain {
  display: flex;
  justify-content: center;
}

.csr_activities .col {
  position: relative;
  top: -20px;
}
.csr_activities .card-title {
  font-weight: 900;
}
.csr_activities .card-text{
   color:#787878;
   font-size: 16px;
}
.csr_activities #card_shadow{
  -webkit-box-shadow: 0px 6px 10px -7px rgba(0,0,0,0.73);
  -moz-box-shadow: 0px 6px 10px -7px rgba(0,0,0,0.73);
  box-shadow: 0px 6px 10px -7px rgba(0,0,0,0.73);  
}