
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


  
  a {
    text-decoration: none;
  }
  
  a:hover {
    color: #007bff;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }
 
  

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

  .nav-item{
    padding-left: 5px;
    padding-right: 5px;
}
.nav-link{
    color: grey;
}
.nav-link:hover{
    color: #007bff;
    transition: all 100ms ease-in;
}
.div{
    background-color: aqua;
}
.custom-tab.active {
    background: transparent !important;
    color: #39f!
    ;
    border-bottom: 2px solid #39f!important;
    border-radius: 0px !important;
}


/* ------------------------------------------------------------------- 
 * ## Navbar Toggle
 * ------------------------------------------------------------------- */
 .mobile-nav-menu-toggle {
    display: none;
    height: 42px;
    width: 42px;
    line-height: 42px;
    font-family: "Lora", serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: rgba(0, 0, 0, 0.5);
    transition: all .3s;
    position: absolute;
    right: 32px;
    top: 18px;
  }
  
  .mobile-nav-menu-toggle:hover,
  .mobile-nav-menu-toggle:focus {
    color: #000000;
  }
  
  .mobile-nav-menu-toggle span {
    display: block;
    width: 24px;
    height: 2px;
    margin-top: -1px;
    background-color: #000000;
    transition: all .5s;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 9px;
    right: auto;
    bottom: auto;
  }
  
  .mobile-nav-menu-toggle span::before,
  .mobile-nav-menu-toggle span::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    left: 0;
    transition: all .5s;
  }
  
  .mobile-nav-menu-toggle span::before {
    top: -9px;
  }
  
  .mobile-nav-menu-toggle span::after {
    bottom: -9px;
  }
  
  .mobile-nav-menu-toggle.is-clicked span {
    background-color: rgba(255, 255, 255, 0);
    transition: all .1s;
  }
  
  .mobile-nav-menu-toggle.is-clicked span::before,
  .mobile-nav-menu-toggle.is-clicked span::after {
    background-color: rgb(0, 0, 0);
  }
  
  .mobile-nav-menu-toggle.is-clicked span::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .mobile-nav-menu-toggle.is-clicked span::after {
    bottom: 0;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  

/* ------------------------------------------------------------------- 
 *  Responsive Toggle Menu
 * ------------------------------------------------------------------- */

@media screen and (max-width:800px) {
   #Register, .navbar-nav{
        display: none !important;
    }
    .mobile-nav-menu-toggle {
        display: block;
      }
    
}


/* ------------------------------------------------------------------- 
 *  Responsive NavBar Menu
 * ------------------------------------------------------------------- */






/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: whitesmoke;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 40px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 0;
    color: #151515;
  }
  
  .section-title p {
    margin-bottom: 0;
    color: #aeaeae;
  }
  


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #fff;
    box-shadow: 0 4px 10px -3px hsla(0deg, 0%, 75%, 0.5);
  }
  


  /*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
#about{
  padding-top: 0px !important;
}
.about{

  display: flex;
}

.about .heading{
    position: absolute;
    top: 45px;
    left: 100px;
    font-family:  sans-serif;
    font-size: 45;
    font-weight:800;
}

.about .r-dcap{
    position: relative;
    top: 30px;
    left: 50px;
    background-color: #39f!important;
    height: 90px;
    width: 20px;
    z-index: 1;
}
.about .abt-main-div{
    position: relative;
    left: 20px;
    top: 50px;
    background-color: 	#E8E8E8;
    height: 500px;
    width: 800px;
    z-index: 0;
}
.about .image{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 1);
    width: 600px;
    height: 400px;
    z-index: 3;
    top:100px;
    position: relative;
}
.about .abt-img{
    height: 100%;
    width: 100%;
}
.about .content{
 position: relative;
 font-size: 18;
 word-spacing: 1px;
 font-family: Montserrat;
 padding:60px 70px 0px 50px;
}
.about h4{
    font-size: 70px;
    font-weight: 500;
    font-family: sans-serif;
    padding: 0px 50px;
}
.about .message{
    font-weight: 600;
    color: #39f!important;
}
.about .blink{
   

    display: inline-block;
    width: 3px;
    background-color: black;
    animation: blink 1s infinite;
}
@keyframes blink {
    0%{
        background-color: black;
    }
    25%{
        background-color: black;
    }
    50%{
        background-color: transparent;
    }
    75%{
        background-color: transparent;
    }
    100%{
        background-color: black;
    }
}




/*--------------------------------------------------------------
# alumni
--------------------------------------------------------------*/
.alumni {
  padding: 60px 0;
  background: url("/assets/img/alumni.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: -2;
}





.alumni .quote-icon {
  text-align: center;
  margin-bottom: 30px;
}

.alumni .quote-icon i {
  color: #7cc576;
  font-size: 24px;
  padding: 18px;
  border-radius: 50px;
  border: 2px solid #7cc576;
}

.alumni .alumni-carousel,
.alumni .alumni-slider {
  overflow: hidden;
}

.alumni .alumni-item {
  text-align: center;
  color: #fff;
}

.alumni .alumni-item p {
  font-style: italic;
  margin: 0 auto 30px auto;
  font-size: 20px;
}

.alumni .alumni-item .alumni-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

.alumni .alumni-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}

.alumni .alumni-item h4 {
  font-size: 14px;
  color: #ddd;
  margin: 0 0 15px 0;
}

.alumni .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.alumni .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}

.alumni .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #7cc576;
}

@media (min-width: 992px) {
  .alumni .alumni-item p {
    width: 80%;
  }}